.navbar {
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}
.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 20px;
    color: beige;
    
}

.navbar li {
    transition: transform 0.3s ease;
}
.navbar li:hover {
    transform: translateY(-5px);
}

.navbar a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.25rem;
}