.intro {
  background-color: rgb(32, 32, 32);
  height: 100%;
  width: 100%;
  position: relative;
  top: 10rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.intro-box2 {
  color: beige;
  width: 50%;
  height: 100%;
  margin-left: 10%;
  padding: 10px;
  border-right: 1px solid #ffffff;

}

.intro-box2-anim {
  animation: slide-out-right 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;
}

button.photo-button {
  height: 100%;
  font-size: 2rem;
  background-color: rgb(32, 32, 32);
  color: beige;
  position: absolute;
  /* add absolute positioning to the button */
  left: 61%;
  border: none;
  transition: all 0.3s;
}

.photos-container {
  position: absolute;
  right: 2rem;
  width: 35%;
  height: 100%;
}

.intro-box1,
.intro-box1-1,
.intro-box1-2 {
  position: absolute;
  width: 25%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-box1-anim {
  animation: slide-out-right 1s forwards;
  --distance: 200px;
  background-image: url(/public/Images/Me/me.webp);
}

.intro-box1-1-anim {
  animation: slide-out-right 1s forwards;
  --distance: 380px;
  background-image: url(/public/Images/Me/Me3.webp);
}

.intro-box1-2-anim {
  animation: slide-out-right 1s forwards;
  --distance: 15px;
  background-image: url(/public/Images/Me/Me2.webp);
}

h1 {
  color: beige;
}

h2 {
  font-weight: normal;
}

.photo-button:hover {
  transform: scale(1.1);
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--distance, 300px));
  }
}

/* Intro container Done, next Skills container */

.skills {
  height: 20rem;
  position: relative;
  top: 10.3rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.skill-box {
  width: 50%;
  height: 100%;
  padding: 10px;
  margin-left: 10%;
  border-left: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
}

.skill-box-anim {
  animation: slide-out-left 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;
}



.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  color: white;
  width: 300px;
  height: 60px;
  font-size: 1.1rem;
  margin-left: 3%;
}

span {
  margin-left: 2%;
}

.Skill-title {
  font-family: monospace;
  font-size: 25px;
  margin-left: 3%;
  margin-right: auto;
  /* Move the title to the end of the container */
}

@keyframes slide-out-left {
  from {
    transform: translateX(35px);
  }

  to {
    transform: translateX(var(--distance, 0px));
  }
}

/* About me Section */

.aboutme-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  font-size: 0.9rem;
  color: beige;
  height: 100%;
  width: 35%;

}

.aboutme-box-anim {
  animation: slide-out-left 1s forwards;
  animation-fill-mode: forwards;
}

.aboutme-title {
  text-align: center;
  font-size: 1.1rem;
}

@media only screen and (max-width: 968px) {

  /* Apply these styles when the screen width is 968px or less */
  .intro-box2-anim {
    animation: none;
  }

  .intro-box1-1 {
    display: none;
  }

  .intro-box1-1-anim {
    animation: none;
  }

  .intro-box1-2-anim {
    animation: none;
  }

  .skill-box-anim {
    animation: none;
  }

  .aboutme-box-anim {
    animation: none;
  }

  button.photo-button {
    display: none;

  }

  .photos-container {
    display: none;
  }

  .intro {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 1rem;
    left: 15%;
    font-size: clamp(10px, 1.7vw, 20px);
  }

  .intro-box2 {
    border-right: none;
    border-bottom: 1px solid beige;
    height: 100%;
  }

  .skills {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 2rem;
    left: 15%;

  }

  .skill-box {
    border-left: none;
  }

  .aboutme-box {
    position: relative;
    height: 50%;
    width: 100%;
  }

}