.intro {
  background-color: rgb(32, 32, 32);
  height: 20rem;
  width: 100%;
  position: relative;
  top: 10rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;
 
}

.intro-box2 {
  color: white;
  width: 50%;
  height: 100%;
  margin-left: 10%;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  border-right: 1px solid rgb(255, 255, 255);
  animation: slide-out-right 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;

}

.photo-button {
  height: 100%;
  font-size:  2rem;
  background-color: rgb(32, 32, 32);
  color: beige;
  border: none;
  transition: all 0.3s;

}

.photos-container {
  position: absolute;
  right: 2rem;
  width: 35%;
  height: 100%;
  background-color: rgb(32, 32, 32);

}

.intro-box1,
.intro-box1-1,
.intro-box1-2 {
  position: absolute;
  width: 25%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-box1 {animation: slide-out-right 1s forwards; --distance: 200px; background-image: url(/public/Images/Me/me.webp);}
.intro-box1-1 {animation: slide-out-right 1s forwards; --distance: 380px; background-image: url(/public/Images/Me/Me3.webp);}
.intro-box1-2 {animation: slide-out-right 1s forwards; --distance: 15px; background-image: url(/public/Images/Me/Me2.webp);}

h1 {color: beige;} h3 {font-weight: normal;}

.photo-button:hover {
  transform: scale(1.1);
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--distance, 300px));
  }
}

@media (max-width: 768px) {
  .intro .intro-box2 {
    width: 80%;
    left: 10%;
  }
}

/* Intro container Done, next Skills container */

.skills {
  background-color: rgb(32, 32, 32);
  height: 20rem;
  position: relative;
  top: 10.3rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;

 
}

.skill-box {
  width: 50%;
  height: 100%;
  padding: 10px;
  margin-left: 10%;
  background-color: rgb(32, 32, 32);
  border-left: 1px solid beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1em;
  animation: slide-out-left 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;
}



.item-1, .item-2, .item-3, .item-4, .item-5 {
  color: white;
  width: 500px;
  height: 50px;
  font-size: 1.1rem;
  
}

.Skill-title{
  font-family: monospace;
  margin-right: auto; /* Move the title to the end of the container */
}

@keyframes slide-out-left {
  from {
    transform: translateX(35px);
  }
  to {
    transform: translateX(var(--distance, 0px));
  }
}