.intro {
  background-color: rgb(32, 32, 32);
  width: 100%;
  position: relative;
  top: 5em;
  display: flex;
  align-items: stretch; /* Stretch to match the tallest child element */
  gap: 1em;
}

.intro-box2 {
  color: beige;
  width: 50%;
  margin-left: 10%;
  padding: 10px;
  border-right: 1px solid #ffffff;
}

.intro-box2-anim {
  animation: slide-out-right 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;
}

button.photo-button {
  background-color: rgb(32, 32, 32);
  color: beige;
  border: none;
  transition: all 0.3s;
}

.photos-container {
  display: flex;
  width: 25%;
}

.intro-box1,
.intro-box1-1,
.intro-box1-2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 

}
.intro-box1 { width: 35%;  position: relative;}
.intro-box1-2 { width: 50%;  position: relative; right: 70%;}
.intro-box1-1 { width: 30%; position: relative; right: 30%; z-index: 1;}

.intro-box1-anim {
  animation: slide-out-right 1s forwards;
  --distance: 20px;
  background-image: url(/public/Images/Me/Me2.webp);
}

.intro-box1-2-anim {
  animation: slide-out-right 1s forwards;
  --distance: 250px;
  background-image: url(/public/Images/Me/Me3.webp);

}

.intro-box1-1-anim {
  animation: slide-out-right 1s forwards;
  --distance: 400px;
  background-image: url(/public/Images/Me/me.webp);
}

h1 {
  color: beige;
}

h2 {
  font-weight: normal;
}

.photo-button:hover {
  transform: scale(1.1);
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--distance, 300px));
  }
}

/* Intro container Done, next Skills container */

.skills {
  position: relative;
  top: 6rem;
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  gap: 1em;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding: 10px;
  margin-left: 10%;
  border-left: 1px solid #ffffff;
  gap: 1em;
}

.skill-box-anim {
  animation: slide-out-left 1s forwards;
  --distance: 10px;
  animation-fill-mode: forwards;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  color: white;
  width: 300px;
  height: 60px;
  font-size: 1.1rem;
  margin-left: 3%;
}

span {
  margin-left: 2%;
}

.Skill-title {
  font-family: monospace;
  font-size: 20px;
  margin-left: 3%;

}

@keyframes slide-out-left {
  from {
    transform: translateX(35px);
  }

  to {
    transform: translateX(var(--distance, 0px));
  }
}

/* About me Section */

.aboutme-box {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 0.9rem;
  color: beige;
  width: 35%;
}

.aboutme-box-anim {
  animation: slide-out-left 1s forwards;
  animation-fill-mode: forwards;
}

.aboutme-title {
  text-align: center;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {

  .intro-box2-anim, .intro-box1-1-anim, .intro-box1-anim,.intro-box1-2-anim, .skill-box-anim, .aboutme-box-anim {
    animation: none;
  }

  button.photo-button, .button.photo-button {
    display: none;
  }

  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(10px, 1.7vw, 20px);
  }

  .intro-box2 {
    border-right: none;
    border-bottom: 1px solid beige;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    overflow: hidden;
    
  }
  .skill-box {
    display: flex;
    border-left: none;
  }
  .aboutme-box {
   position: relative;
   left: 5%;
   width: 100%;
   padding: 0 5rem;
   font-size: 0.7rem;
  }

}