.skills-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 30rem;
    width: 100%;
    margin-top: 35%;
    padding: 30px;

}

.project-1, .project-2, .project-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-top: 1px solid rgb(255, 255, 255);
    
}

.p1, .p2, .p3 {
    width: 70%;
    height: 50%;
    text-align: center;
    border: 1px solid beige;
    margin-top: 10%;
    transition: all 0.3s ease-in;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out; 
}

.image:hover {
    filter: brightness(150%); /* add this property to apply the brightness effect on hover */
    background-color: rgba(255, 190, 129, 0.7); /* set the warm color and opacity */
    
  }

  .p1 span,
  .p2 span,
  .p3 span {
    display: inline-block; /* set the display property */
    margin-top: 10px; /* apply the margin-top */
    color: white;
  }
