.social-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 35%;
}

.social-main-anim {
    animation: slide-up 1s forwards;
    --distance: 25px;
    animation-fill-mode: forwards;
}

.social-box1 {
    width: 25%;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);

}

.social-box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 2%;
    transition: all 0.3s;
    margin-bottom: 10%;
}

.h3 {
    color: white;
}

.social-box3{
    display: flex;
    justify-content: center;
    width: 30%;
}

.copyright{
    
    color: white;
}

.span-text {
    color: beige;
    font-size: 1.1rem;
    font-family: monospace;
}

.social-item1,
.social-item2,
.social-item3,
.social-item4 {
    transition: all 0.3s;
}

.social-item1:hover,
.social-item2:hover,
.social-item3:hover,
.social-item4:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
    .social-main {
        animation: none;
    }

    .social-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .social-box1 {
        width: 100%;
        padding: 0 2rem;
    }

    .social-box2 {
     width: 100%;
     margin-top: 5%;
    }

    .social-box3 {
        width: 100%;
       }
}